<div class="container">
	<div class="event-new">
		<div class="event-new-header">
			<h3 class="text-center">Your's event</h3>
		</div>
		<div class="event-new-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>STT</th>
						<th>Event Name</th>
						<th>Created At</th>
						<th>Publish</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<% @events.each_with_index do |event,i| %>
						<tr>
							<td><%= i + 1 %></td>
							<td><%= event.name %></td>
							<td><%= event.created_at.strftime("%A, %B %d, %H:%M") %></td>
							<td><%= event.published ? 'Published' : link_to('Publish', set_publish_event_path(event),class: 'btn btn-warning')%></td>
							<td><%= link_to("Edit", edit_event_path(event),class: 'btn btn-primary') %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
